html, body {
    background-color: #0C234B;
    width: 100%;
    height: 100%;
}

body{

    overflow: auto;

}
 /* Login Section Style */
 * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
    
  }
  
  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .container {
    background: #9eabae;
    border-radius: 40px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 85vw;
    max-width: 100%;
    min-height: 70vh;
    transition: 150ms;
    bottom: 75px;
  }
  
  
  .form-container form {
    background: #9eabae;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .social-container {
    margin: 20px 0;
    display: block;
  }
  
  
  .social-container a {
    border: 1px solid #000000;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 333ms;
  }
  .social-container a:hover {
    transform: rotateZ(13deg);
    border: 1px solid #0e263d;
  }
  
  .form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  .form-container input:hover {
    transform: scale(101%);
  }
  
  button {
    border-radius: 10px;
    box-shadow: 25px;
    background: #0C234B;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #eee;
    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;    display: flex;

  }
  

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
  }
  
  .overlay {
    background: #ff416c;
    background: linear-gradient(to right, #AB0520, #AB0520) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  
  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  
  .overlay-right {
    right: 0;
    transform: translateY(0);
  }
  
  .overlay-left {
    transform: translateY(-20%);
  }
  
  /* Move signin to right */
  .container.right-panel-active .sign-in-container {
    transform: translateY(100%);
  }
  
  /* Move overlay to left */
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  /* Bring signup over signin */
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  
  /* Move overlay back to right */
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  /* Bring back the text to center */
  .container.right-panel-active .overlay-left {
    transform: translateY(0);
  }
  
  /* Same effect for right */
  .container.right-panel-active .overlay-right {
    transform: translateY(20%);
  }
.copyright {

    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    background-color: #AB0520;

}

.navContainer {

    display: flex;
    list-style: none;
    position: relative;
    margin-right: 2vw;

}

.pageNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85vw;
}

.pageNav ul {

    display: inline-flex;
    list-style: none;
    position: relative;
    margin-right: 2vw;
}

.pageNav li {
    margin-left: 5vw;
}

.pageNav li a {

    text-decoration: none;
    /* top | right | bottom | left */
    padding: .5vw 1vw .5vw 1vw;
    color: white;
    font-size: 24px;
    /* 1.5vw this can scale the text but it gets to small */
    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: #0C234B;
}