* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F4EDE5;
    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;
}

/* start of upper navbar header styling */
header {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #9EABAE;
    z-index: 2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.40);

}

.upper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-navbar img {
    width: 225px;
    height: 100px;
    margin-left: 20px;
}

nav {
    float: right;
    margin-right: 60px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav t {
    font-size: 25px;
    margin-right: 15px;
}

.dropdown {
    position: relative;
    /* Add relative positioning to the dropdown container */
}

/* Update transition properties for smoother animation */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
    opacity: 0;
    border-radius: 15px;

    transition: opacity 0.5s, transform 0.5s, display 0.5s;
}

/* Add a class to show the dropdown with animation */
.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, 35%);
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    /* Added transition for a smooth effect */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}


/* No need for :hover for dropdown, we'll handle it with JavaScript */

.dropdown-content a:hover {
    background-color: #f2f2f2;
    /* Change background color on hover */
    border-radius: 15px;
}

/*end of upper nav bar header styling*/

.main-container {
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}

.left-navbar-container {
    position: relative;
    height: 100%;
    width: 25vw;
    background-color: #0C234B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-navbar {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #AB0520;
    border-radius: 25px;

}

.left-navbar-insides {
    padding: 20px;
    text-align: start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.left-navbar-insides ul {
    /* Remove default list styling */

    list-style-type: none;

}

.left-navbar-insides ul li {
    margin-bottom: 10px;
    /* Add margin to list items for spacing */
}

.resizer {
    width: 10px;
    height: 100%;
    position: absolute;
    cursor: ew-resize;
    top: 0;
    right: 0;
    background-color: #0C234B;
    -webkit-user-select: none;
    /* Safari and other WebKit-based browsers */
    -moz-user-select: none;
    /* Firefox */
    user-select: none;
    /* Prevent text selection while dragging */
}

.project-card-container {
    flex-grow: 1;
    text-align: center;
    overflow: auto;
    /* Added this property for scrolling if needed */
}

/*Adding style to the buttons */
.display-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
    margin-right: 45px;
}

.btn {
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;

}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

/* this is the project card styling section */

.project-image {
    height: calc(100% - 125px);
    width: calc(100% - 55px);
    min-width: 75px;
    min-height: 75px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AB0520;
}

.project-image img {
    max-width: 95%;
    max-height: 95%;
    overflow: hidden;
    border-radius: 25px;
}

.inside-image-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 0px;
    padding: 20px;
    margin: 20px;
    color: white;
    place-items: center;

}

.wrapper div:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;


}

.wrapper .outside-image-box:hover {
    background-color: #81d2eb;
    transition: background-color 0.7s;
}

.wrapper.list {
    grid-template-columns: 1fr;
    place-items: start;

}

.wrapper.list .outside-image-box:hover {
    background-color: #81d2eb;
    transition: background-color 0.7s;
}

/* this section is the styling for the warpper.list so when the user changes to list it styles the boxes */
.wrapper.list .outside-image-box {
    position: relative;
    background-color: #0C234B;
    border-radius: 25px;
    width: 15vw;
    min-width: 140px;
    height: 30vh;
    min-height: 175px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.wrapper.list .project-image {
    height: calc(100% - 125px);
    width: calc(100% - 55px);
    min-width: 75px;
    min-height: 75px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AB0520;
}

.wrapper.list .image-box-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: calc(100% + 20px);
    /* Adjust this value as needed */
    top: 50%;
    transform: translate(0, -50%);
    color: #000;
    font-size: larger;
    width: 150px;
    margin: 0px;
}

/* end of wrapper list styling */

.wrapper .outside-image-box {
    position: relative;
    background-color: #0C234B;
    border-radius: 25px;
    width: 15vw;
    min-width: 140px;
    height: 30vh;
    min-height: 175px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.wrapper .image-box-text {
    /* Container for text content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
}