* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F4EDE5;
    font-family: 'Segoe UI', 'Arial Narrow', Arial, sans-serif;
    
}
.upper-navbar-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9EABAE;
}
.upper-navbar img {

    width: 225px;
    height: 100px;
    margin-left: 20px;
}
.left-navbar-container{
   
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 25vw;
    background-color: #0C234B;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-navbar {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #AB0520;
    border-radius: 25px;
}

.project-card-container{
    border: solid 1px black;
}